@font-face {
  font-family: ReguralFont;
  src: url("../fonts/Nunito-Regular.ttf");
}

@font-face {
  font-family: MediumFont;
  src: url("../fonts/Nunito-Medium.ttf");
}

@font-face {
  font-family: SemiBoldFont;
  src: url("../fonts/Nunito-SemiBold.ttf");
}

@font-face {
  font-family: BoldFont;
  src: url("../fonts/Nunito-Bold.ttf");
}
