@font-face {
  font-family: LightFont;
  src: url("@/assets/fonts/Nunito-Light.ttf");
}

@font-face {
  font-family: ReguralFont;
  src: url("@/assets/fonts/Nunito-Regular.ttf");
}

@font-face {
  font-family: MediumFont;
  src: url("@/assets/fonts/Nunito-Medium.ttf");
}

@font-face {
  font-family: SemiBoldFont;
  src: url("@/assets/fonts/Nunito-SemiBold.ttf");
}

@font-face {
  font-family: BoldFont;
  src: url("@/assets/fonts/Nunito-Bold.ttf");
}


@font-face {
  font-family: ExtraBoldFont;
  src: url("@/assets/fonts/Nunito-ExtraBold.ttf");
}
